{% extends "main/base.html" %}

{% block title %} Home {% endblock %}

{% block content %} 

	<h1>Welcome!!<h1>

	<h2>Steps to create your to-do list</h2>
	<p>
		1: Please login to your account.
		   If you are a new user please register.
		<br></br>
		2: After you login, go to Create and Create New To-Do List.
		<br></br>
		3: After you create the list, now you will be able to add items to it.
		<br></br>
		4: Great! As you have created your To-Do List you can access it on View page.
		<br></br>
		5: Now you can go and follow your list and mark it done once done.
	</p>


{% endblock %}